body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-color); }

html {
  --text-color: #000000;
  --background-primary-color: #a7ffe6;
  --background-secondary-color: #cdd4ff;
  --border-primary-color: #11131f;
  --border-secondery-color: #7e90ff;
  --link-color: #82008bce;
  --skill-score-bar-color: #00ff00;
  --skill-score-background-color: #0f430f;
  --skill-icon-size: clamp(60px, 10vw, 75px);
  --header-font-size: clamp(3rem, 3vw, 5rem);
  --header-link-size: clamp(1.5rem, 2vw, 2.0rem);
  --header-title-size: clamp(2.5rem, 6vw, 6rem);
  --page-section-size: clamp(1.5rem, 2vw, 2.0rem);
  --page-smallTitle-size: clamp(1.0rem, 2vw, 1.5rem); }

.darkmode {
  --background-primary-color: #000302;
  --text-color: #ffffff; }

#header {
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  #header #menu {
    display: flex;
    flex-direction: row; }
    #header #menu #navigation {
      display: flex;
      flex-direction: row; }
      #header #menu #navigation .navElement {
        display: flex; }

#pageTitle {
  padding: 0px;
  margin: 0px;
  font-size: var(--header-title-size); }

#headerTop {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-bottom: 0px;
  padding-bottom: 5px; }

#navigationMenu #navigationItems .navElement > a {
  font-size: var(--header-link-size); }

@media screen and (min-width: 769px) {
  html {
    --skill-col-width: clamp(200px, 25vw, 500px); }
  #navigationMenu {
    display: flex;
    align-items: center;
    flex-direction: row; }
    #navigationMenu #navigationItems {
      display: flex;
      flex-direction: row; }
      #navigationMenu #navigationItems .navElement > a {
        display: flex;
        align-items: center;
        padding-left: 25px;
        text-decoration: none;
        color: var(--link-color); } }

@media screen and (max-width: 768px) {
  html {
    --skill-col-width: clamp(200px, 80vw, 600px); }
  #navigationMenu {
    --navigationMenuRounding: 20px; }
    #navigationMenu .active {
      position: absolute;
      top: 100%; }
    #navigationMenu #navigationItems:not(.active) {
      display: none; }
    #navigationMenu #navigationItems {
      flex-direction: column;
      left: 0;
      border-radius: var(--navigationMenuRounding);
      border: 1px solid var(--border-secondery-color);
      width: calc(100% - 2px); }
      #navigationMenu #navigationItems .navElement {
        background-color: var(--secondary-color);
        padding: 10px; }
        #navigationMenu #navigationItems .navElement:first-child {
          border-radius: var(--navigationMenuRounding) var(--navigationMenuRounding) 0 0; }
        #navigationMenu #navigationItems .navElement:last-child {
          border-radius: 0 0 var(--navigationMenuRounding) var(--navigationMenuRounding); }
        #navigationMenu #navigationItems .navElement a {
          text-decoration: none; }
  .hamburgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 40px; }
    .hamburgerIcon:hover {
      cursor: pointer; }
    .hamburgerIcon .hamburgerLine {
      height: 3px;
      width: 100%;
      background-color: #000;
      transition: all 100ms ease-in-out; }
  .x:nth-child(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 53px; }
  .x:nth-child(2) {
    transition: all 100ms ease-in-out;
    transformm-origin: center;
    width: 0; }
  .x:nth-child(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 53px; } }
