.theme-dark .linkDark {
    display: none;
}

.theme-light .linkLight {
    display: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.personalLink {
    width: 100px;
}
#about_TabContent {
    display: flex;
    flex-direction: column;
}