
#header
    background: var(--SeconderyColor)
    width: 100%
    position: fixed
    box-shadow: 0px 2px 4px 0px var(--SeconderyColor)
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
    display: flex

#links
    display: flex
    justify-content: center

.socialLinkImg
    height: 50px
    margin: clamp(1px, 1vw, 10px)

#header.headerBig
    height: $headerHeightBig
    flex-direction: column

#header.headerBig #nav
    flex-direction: row

#header.headerBig #pageHeader
    display: flex
    justify-content: center
    margin-top: 75px
    font-size: clamp(35px, 9.5vw, 70px)

    
#header.headerBig #links
    flex-direction: row

#header.headerSmall
    height: $headerHeightSmall
    justify-content: space-between

#toggleDarkMode
    width: fit-content
    width: clamp(20px, 14vw, 40px)
    height: clamp(10px, 7vw, 20px)
    margin-left: clamp(1px, 1vw, 3px)
    margin-right: clamp(1px, 1vw, 3px)
    cursor: pointer
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

#toggleDarkMode > svg 
    width: clamp(20px, 14vw, 40px)
    height: clamp(10px, 7vw, 20px)

#toggleBackground
    position: absolute

#toggleForeground
    position: absolute
    margin-left: var(--darkModeToggleMarginLeft)
    -webkit-transition: margin-left 0.5s ease-in-out
    -moz-transition: margin-left 0.5s ease-in-out
    -o-transition: margin-left 0.5s ease-in-out
    transition: margin-left 0.5s ease-in-out

#toggleDarkMode #toggleBackground
    filter: var(--primaryFilter)

#toggleDarkMode #toggleForeground
    filter: var(--seconderyFilter)

.headerSmall #nav
    display: flex
    flex-direction: column
    margin-top: auto
    margin-bottom: auto                              

    align-items: flex-start
.headerBig #nav
    display: flex
    flex-direction: row
    a
        padding-left: 10px
