#mainImage{
    width: 100%;
}
.imageLeft{
   display:flex;
   flex-direction:row;
   padding:10px;
}
.imageLeft > a > img{
    width:100%;
}
.imageLeft > a{
    width:70%;
   padding-right:10px;
}
.imageRight{
   display:flex;
   flex-direction:row-reverse;
   padding:10px;
}
.imageRight > a{
    width:70%;
   padding-left:10px;
}
.imageRight > a > img{
    width:100%;
}
@media screen and (max-width: 768px) {
     
.imageLeft{
   display:flex;
   flex-direction:column;
   padding:10px;
}
.imageLeft > a > img{
    width:100%;
}
.imageLeft > a{
    width:100%;
   padding-right:0px;
}
.imageRight{
   display:flex;
   flex-direction:column;
   padding:10px;
}
.imageRight > a{
    width:100%;
   padding-left:0px;
}
.imageRight > a > img{
    width:100%;
} 
}
@media screen and (max-width: 480px) {
 
}