body {
    display: flex;
    flex-direction: column;
  }
  #topContainer {
    display: flex;
    flex-direction: column;
  }
  #topImageCont {
    display: flex;
    justify-content: center;
  }
  #topImageCont > a {
    width: 80%;
  }
  

@media screen and (max-width: 768px) {
    #topImageCont > a {
        width: 100%;
      }
}
@media screen and (max-width: 480px) {
   
}