<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M8MR7HG9");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HXQR6G9E2T"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HXQR6G9E2T");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $css := resources.Get "scss/main.sass" | resources.ToCSS}}
    <link rel="stylesheet" href="{{$css.RelPermalink}}" />

    <title>{{.Site.Title}}</title>
  </head>
  <body class="dark-mode">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M8MR7HG9"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{partial "header.html" .}}
    <div id="body" class="headerBig">
      <div class="tabContent" id="projectsTab">
        {{range index .Site.Data "projects"}}
        <div class="project" projectType="{{lower .type}}">
            <div class="projectImageCont">
              <a class="projectLink" href="projects/defyingGravity.html"
                ><img
                  src="{{.image}}"
                  alt="{{.name}} Image"
                  class="projectThumbnail"
              /></a>
            </div>
            <div class="projectInfo">
              <div class="projectTop">
                <div class="projectName">
                  <a class="projectLink" href="{{.projectPage}}"
                    >{{.name}}</a
                  >
                </div>
                <div class="projectSmallInfo">
                  <div class="projectType">{{.type}}</div>
                  <div class="projectTime">{{.time}}</div>
                </div>
              </div>
                {{ if .notFinished }}
                  {{ .notFinished }}
                {{ end }}
              <div class="projectDesc">{{.description}}</div>
            </div>
          </div>
        {{end}}
      </div>
      <div class="tabContent" id="skillsTab">2</div>
      <div class="tabContent" id="aboutTab">3</div>
      {{block "main" .}} {{end}} {{partial "footer.html" .}}
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/index/tabsIndex.js"></script>
  </body>
</html>
