<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Interactive</title>
		<style>
			body { margin: 0; }
		</style>
        <script type="importmap">
            {
              "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
              }
            }
          </script>
	</head>
	<body>
        
		<script type="module" src="/js/interactive/main.js"></script>
	</body>
</html>

