{{define "head"}}
{{ $css := resources.Get "sass/project.sass" | resources.ToCSS}}
<link rel="stylesheet" href="{{$css.RelPermalink}}" />
<title>{{.Site.Title}}</title>
{{end}}

{{define "scripts"}}
{{end}}




{{define "body"}}
<div class="content">
    {{ $icons := .Site.Params.Icons}}
    {{range .Site.Data.projects}}
    {{ if eq .projectPage $.RelPermalink}}
    {{partial "projectTopContainer.html" (dict "context" . "icons" $icons)}}
    {{partial "projectContent.html" .}}
        
    {{end}}
    {{ end }}
</div>
{{end}}