<div id="topContainer">
  <div id="topItems">
    <div id="infoText">
      <div id="platform">
        <p>Platform:</p>
        {{range .context.platforms}}
        <p>{{.}}</p>
        {{end}}
      </div>
      <div id="technology">
        <p>Technologies Used:</p>
        {{range .context.technologies}}
        <p>{{.}}</p>
        {{end}}
      </div>
    </div>
    <div id="topImageCont">
      <a href="{{.context.pageContent.imageLinkFull}}"><img id="mainImage" src="{{.context.pageContent.imageLink}}"
          alt="Teach Typing main image" title="main image" /></a>
    </div>
    <div id="topLinks">
      <div class="projectLinks">
        {{with .context.repository.playable}}
        <a href="{{.}}" class="projectLinkPlayable" target="_blank"><img class="projectLinkImg"
            src="/img/icons/game-9-svgrepo-com.svg" alt="Playable"></a>
        {{end}}
        {{with .context.repository.sourceCode}}
        <a href="{{.}}" class="projectLinkSource" target="_blank"><img class="projectLinkImg"
            src="/img/icons/code-svgrepo-com.svg" alt="Code"></a>
        {{end}}
        {{with .context.repository.binary}}
        <a href="{{.}}" class="projectLinkBinaries" target="_blank"><img class="projectLinkImg"
            src="/img/icons/file-exe-svgrepo-com.svg" alt="Binary"></a>
        {{end}}
      </div>
    </div>
  </div>
  <p id="description">{{.context.pageContent.description}}</p>
</div>