<div id="projects_TabContent" class="tabContent">
    <div class="filter">
        <div class="filterTitle">Filter type</div>
        <div class="filterDropDown">
            <select id="filterSelectType" class="filterSelect" onchange="filterProjects()">
                <option value="all">All</option>
                {{ $InFilter := slice }}
                {{range .context.Site.Data.projects}}
                {{if eq .template ""}}
                {{else}}
                {{ if not (in $InFilter .type)}}
                <option value="{{.type}}">{{.type}}</option>
                {{ $InFilter = $InFilter | append .type }}
                {{ end }}
                {{end}}
                {{end}}
            </select>
        </div>
    </div>

    {{range sort .context.Site.Data.projects ".time" "desc" }}
    {{if eq .template ""}}
    {{else}}
    <div class="project" filterType="{{.type}}">
        <a class="projectImageLink" href="{{.projectPage}}">
            <img class="projectThumbnail" src="{{.thumbnail}}" alt="{{.thumbnail}}"
                onerror="this.onerror=null; this.src='/img/icons/image-landscape-picture-image-icon-svgrepo-com.svg'">
        </a>
        <div class="projectData">
            <div class="projectDataTop">
                <h1 class="projectTitle"><a class="projectTitleLink" href="{{.projectPage}}">{{.title}}</a></h1>
                <div class="projectLinks">
                    {{with .repository.playable}}
                    <a href="{{.}}" class="projectLinkPlayable" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/game-9-svgrepo-com.svg" alt="Playable"></a>
                    {{end}}
                    {{with .repository.sourceCode}}
                    <a href="{{.}}" class="projectLinkSource" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/code-svgrepo-com.svg" alt="Code"></a>
                    {{end}}
                    {{with .repository.binary}}
                    <a href="{{.}}" class="projectLinkBinaries" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/file-exe-svgrepo-com.svg" alt="Binary"></a>
                    {{end}}
                </div>
                <div class="projectMakeInfo">
                    <div class="projectType">{{.type}}</div>
                    <div class="projectTime">{{.time}}</div>
                    {{with .complete}}
                    {{if .}}
                    <div class="projectCompletion">Complete</div>
                    {{else}}
                    <div class="projectCompletion">Working</div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="projectDataBottom">
                <div class="projectTechnologies">
                    {{range .technologies}}
                    <div class="projectTechnology">{{.}}</div>
                    {{end}}
                </div>
                <div class="projectDescription">{{.descriptionShort}}</div>
            </div>

        </div>


    </div>
    {{end}}
    {{ end }}
</div>