<div id="projects_TabContent" class="tabContent">
    {{range sort .context.Site.Data.projects ".pageSequence" "asc" }}
    {{if eq .template ""}}
    {{else}}
    <div class="project" filterType="{{.type}}">
        <a class="projectImageLink" href="{{.projectPage}}">
            <img class="projectThumbnail" src="{{.thumbnail}}" alt="{{.thumbnail}}"
                onerror="this.onerror=null; this.src='/img/icons/image-landscape-picture-image-icon-svgrepo-com.svg'">
        </a>
        <div class="projectData">
            <div class="projectDataTop">
                <h1 class="projectTitle"><a class="projectTitleLink" href="{{.projectPage}}">{{.title}}</a></h1>
                <div class="projectLinks">
                    {{with .repository.playable}}
                    <a href="{{.}}" class="projectLinkPlayable" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/game-9-svgrepo-com.svg" alt="Playable"></a>
                    {{end}}
                    {{with .repository.sourceCode}}
                    <a href="{{.}}" class="projectLinkSource" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/code-svgrepo-com.svg" alt="Code"></a>
                    {{end}}
                    {{with .repository.binary}}
                    <a href="{{.}}" class="projectLinkBinaries" target="_blank"><img class="projectLinkImg"
                            src="/img/icons/file-exe-svgrepo-com.svg" alt="Binary"></a>
                    {{end}}
                </div>
            </div>
            <div class="projectDataBottom">
                <div class="projectDescription">{{.pitchDescription}}</div>
            </div>
        </div>


    </div>
    {{end}}
    {{ end }}
</div>