<div id="topContainer">
  <div id="topImageCont">
    <a href="{{.context.pageContent.imageLinkFull}}"
      ><img
        id="mainImage"
        src="{{.context.pageContent.imageLink}}"
        alt="Teach Typing main image"
        title="main image"
    /></a>
  </div>
  <div id="topTextCont">
    <div id="infoText">
      <div>
        <p id="platform">Platform:</p>
        <p>{{.context.platform}}</p>
      </div>
      <div>
        <p id="technology">Technologies Used:</p>
        <p>{{.context.tech}}</p>
      </div>

      {{$repository := .context.pageContent.repository}} {{range $name,$path :=
      .icons}} {{ if eq $name $repository.type }}
      <div class="linkContainer">
        <p>Source Code:</p>
        <a href="{{$repository.url}}">
          <div id="Link">
            <img class="socialLinkImg" src="{{$path}}" alt="GitHub" />
          </div>
        </a>
      </div>
      {{ end }} {{end}}
    </div>
    <p id="description">{{.context.pageContent.description}}</p>
  </div>
</div>
