<div id="skills_TabContent" class="tabContent">

    {{$icons := .context.Site.Params.icons}}
    {{range sort .context.Site.Data.skills ".name" "desc" }}
    <div class="skillColumn">
        <div class="skillTitle">
            <h3>{{.name}}</h3>
        </div>
        <div class="skillList">
            {{range sort .data ".score" "desc"}}
            <div class="skill">
                <div class="skillMain">
                    {{$iconNameDark :=print "-dark"| print  .name|lower}}
                    {{$iconNameLight :=print "-light"| print .name|lower}}
                    {{partial "image" (dict "context" . "imageLight" $iconNameLight "imageDark" $iconNameDark "icons" $icons "class" "skillImg")}}
                    <div class="skillData">
                        <div class="skillName">{{.name}}</div>
                        <div class="skillScore"><div class="bar">{{.score}}</div></div>
                    </div>
                </div>

                <div class="skillDescription">{{.description}}</div>
            </div>
            {{end}}
        </div>
    </div>
    {{ end }}
</div>