<div id="skillsTable">
    {{range sort .Site.Data.skills "name" "desc"}}
    <div class="skillsColumn">
        <div class="skillSectionName">{{.name}}</div>
            <div class="skills">
                {{range sort .data "score" "desc"}}
                <div class="skill">
                <div class="skillTopRow">
                <img class="skillImage" src="/{{.image}}" alt="">
                <div class="skillInfo">
                    <div class="skillName">{{.name}}</div>
                    <div class="skillScoreContainer">
                        <div class="skillScore">
                            <p class="skillScoreText">{{.score}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="skillBottomRow">
                    <div class="skillDescription">{{.description}}</div>
                </div>
            </div>
                {{end}}
            </div>
    </div>
    {{end}}
</div>