.theme-dark>* .darkThemeImage {
    display: flex;

}

.theme-dark>* .lightThemeImage {
    display: none;
}

.theme-light>* .darkThemeImage {
    display: none;
}

.theme-light>* .lightThemeImage {
    display: flex;
}